form {
  margin-top: 2em;
}

.changediv, .promptdiv {
  margin: 2rem auto;
  border: 1px solid #ccf;
  border-radius: 4px;
  background-color: #f0f0ff;
}

legend {
  font-size: 2em;
}

.form-group input {
  margin-bottom: 1em;
}


button#calculate {
  display: block;
  margin: 1em auto;
}

.changediv {
  text-align: center;
  font-size: 1.5em;
  display: none;
}

.dollardiv {
  font-size: 1.75em;
}

#error {
  display: none;
}

@media (max-width: 992px) {
  .coindiv {
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccf;
  }
}
